/* Variables */
:root {
    
    --body-background-color: #FEFBFA;
    --header-color: #000000;
    --bio-color: #9FD6FF;
    --projects-color: #F5F9FD;
    --project-box-color: rgba(245,249,253, 0.8);
    --projects-img-border-color:#8A8684;
    --contact-color: #000000;

    --text-header-color: #EDFBF0;
    --text-bio-color: #110D0D;
    --text-projects-color: #372B2B;
    --text-contact-color:#EDFBF0;
    --text-a-hover-color: #81857B;

    --opensans: 'Open Sans', sans serif;
    --roboto: 'Roboto', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --playfair-display: 'Playfair Display', serif;

    --min-width: 300px;
    --max-width: 1600px;
}

body {
    box-sizing: border-box;
    margin: 0px;
    background-color: var(--body-background-color);
    font-family: var(--opensans);
}

.main-container {
    min-width: var(--min-width);
    max-width: var(--max-width);

    display: flex;
    flex-direction: column;
    margin: auto;
}

header {
    width: 100%;
    background: var(--header-color);
}

main {
    width: 100%;
}

section#bio {
    background-image: url("../img/code-compressed.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--bio-color);
}

section#projects {
    background-image: url("../img/schedule-compressed.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--projects-color);
}

div > .project-container {
    background-color: var(--project-box-color);
    border-radius: 15px;
}

footer {
    background: var(--contact-color);
    width: 100%;
}


/* START FONTS - FULL SIZE */

a:link, a:visited, a:hover {
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
}

header {
    font-family: var(--montserrat);
    color: var(--text-header-color);
}

span.name {
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
}

span.title {
    font-size: 22px;
    margin-left: 120px;
}

nav > a, a:visited {
    color: var(--text-header-color);
}

nav > a:hover {
    color: var(--text-a-hover-color);
}

#bio {
    font-family: var(--montserrat);
    color: var(--text-bio-color);
}

p.heading-name {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
}

p.heading-name > span {
    font-size: 38px;
    font-weight: 500;
    line-height: 60px;
}

p.heading-title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}

span.heading-important {
    font-size: 22px;
    font-weight: 600;
}

p.bio-text {
    font-family: var(--opensans);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 1.5px;
}

#projects {
    font-family: var(--opensans);
    color: var(--text-projects-color);
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 24px;
}

div.projects-title {
    font-family: var(--montserrat);
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 2px;
}

#projects > h3 {
    font-family: var(--montserrat);
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 4px;
}

div > .project-links-container > a, a:visited {
    color: var(--text-projects-color);
}

div > .project-links-container > a:hover {
    color: var(--text-a-hover-color);
}

footer {
    font-family: var(--montserrat);
    color: var(--text-contact-color);
}

.footer-content > a, a:visited {
    color: var(--text-contact-color);
}

.footer-content > a:hover {
    color: var(--text-a-hover-color);
}

.footer-content > a[href^="mailto"] {
    color: var(--text-contact-color);
}

.footer-content > a[href^="mailto"]:hover {
    color: var(--text-a-hover-color);
} 

/* END FONTS - FULL SIZE */


/* - START FULL SIZE POSITIONING------------------------------- */

header, 
.projects-container, 
footer {
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

header{
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
}

nav > a {
    /* border: 1px solid cyan; */
    margin: 5px 50px;
}

section#bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    /* border: 1px solid lightgreen; */
    margin: 50px 15px 25px 15px;
    width: 75%;
}

.container-bio {
    /* border: 1px solid purple; */
    width: 50%;
    margin: 25px 15px 75px 15px;
}

.projects-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-title > h1 {
    margin-top: 75px;
    margin-bottom: 50px;
}

.project-container {
    
    /*border: 1px solid yellow;*/
    margin: 10px 50px 20px 50px;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-image-container {
    /* border: 1px solid rgb(84, 211, 137); */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.project-img {
    max-width: 500px;
    border: 1px solid var(--projects-img-border-color);
    border-radius: 15px;
}

.project-image-container > h3 {
    margin-top: 40px;
}

.project-text-container {
    /* border: 1px solid darkblue; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 15px 0px 15px;
}

.project-links-container {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.footer-content {
    margin: 45px 15px;

}

.footer-content > a {
    /* border: 1px solid darkkhaki; */
    margin: 5px 50px;
}

/* - END FULL SIZE POSITIONING------------------------------- */


/* - START MID SIZE POSITIONING------------------------------- */

/* Reposition navbar under logo */
@media screen and (min-width: 750px) and (max-width: 920px) { 
    
    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    nav {
        align-items: center;
        margin: 10px auto 10px auto;
    }
}

/* center all header in a column */
@media screen and (max-width: 500px) {
    
    header {
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p.logo {
        /* border: 1px dotted green; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    span.title {
        /* border: 1px solid red; */
        margin-left: 0px;
    }
    
    nav {
        /* border: 1px solid orange; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 415px) and (max-width: 750px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-left: 50px;
    }

    nav{
        align-items: center;
        margin: 10px auto 10px auto;
    }

    .container-bio {
        /* border: 1px solid purple; */
        width: 75%;
        margin: 25px 15px 75px 15px;
    }

    .project-img {
        max-width: 390px;
    }

    .footer-content > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px auto 10px auto;
    }
}

/* - END MID SIZE POSITIONING------------------------------- */


/* - START SMALL SIZE POSITIONING------------------------------- */

@media screen and (max-width: 420px) { 
    header, 
    .logo, 
    nav, 
    section#bio, 
    section#projects, 
    .project-container, 
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav, .logo{
        margin: 10px auto 10px auto;
    }

    span.name {
        font-size: 32px;
        font-weight: 500;
    }

    span#heading-name {
        display: flex;
        flex-direction: column;
        font-size: 30px;
    }


    nav > a {
        /*border: 1px solid cyan;*/
        margin: 5px 10px;
    }

    .heading {
        /* border: 1px solid lightgreen; */
        margin: 15px 25px 25px 25px;
        width: auto;
    }

    .container-bio {
        /* border: 1px solid purple; */
        margin: 15px 25px 25px 25px;
        width: auto;
    }
    
    .project-container {
        /*border: 1px solid black;*/
        margin: 10px 15px 20px 15px;
    }

    .project-img {
        max-width: 250px;
    }

    .project-container > p {
        /* border: 1px solid darkblue; */
        width: 100%;
        
    }

    .project-links-container {
        /* border: 1px solid white; */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .footer-content {
        margin: 20px 15px;

    }

    .footer-content > a {
        /* border: 1px solid darkkhaki; */
        margin: 5px 0px;
    }
}

/* - END SMALL SIZE POSITIONING------------------------------- */
